*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}
ul{
  list-style: none;
}

.app-container{
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  width: 80%;
  height: 70%;
}


